body
{
    background: #eee;
}
.content
{
    width:95%;
    margin-left:2.5%;
    background-color: #fff;
    height:700px;
}
.ad
{
    background-color:#fff;
    border: 1px solid #507e32;
    border-radius: 2px;
    margin-bottom:10px;
    padding: 5px 5px 5px 5px;
}
.title
{
    font-size: 18px;
    background:#333;
    color: #eee;
}
.imgData{
    width: 125px;
}
.imgData img{
    width:100%;
}
.content-with-picture
{
    float:left;
    width:120px;
}
.content-without-picture
{
    margin-left: 125px;
    padding-left:5px;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.info{
    font-size: 12px;
}
#userProfile
{
    background:#fff;
    border: 1px solid #507e32;
    height:100px;
}
#post-ad
{
    background-color:#fff;
    border: 1px solid #507e32;
}