<div ng-repeat="myAd in privateAds.ads" class = "ad clearfix">
    <div class="content-with-picture">
        <div class="imgData">
            <img data-ng-src={{myAd.imageDataUrl}}>
        </div>
    </div>
    <div class="content-without-picture">
        <div class="title">{{myAd.title}}</div>
        <div class="wholeInfo">
        <span class="text" style="font-weight: bold">Text:</span>
        <span class="info">{{myAd.text}}</span>
        </div>
        <div class="whole-category-name">
        <span class="category-name-text" style="font-weight:bold">Category Name:</span>
        <span class=category-name">{{myAd.categoryName}}</span>
        </div>
        <div class="whole-category-status">
            <span class="category-name-status" style="font-weight:bold">Category Status:</span>
            <span class=category-status">{{myAd.status}}</span>
        </div>
        <a ng-href="#/edit/{{myAd.id}}">Edit</a>
        <a ng-href="#/delete/{{myAd.id}}" onclick="">Delete</a>
    </div>
</div>
