<div ng-repeat="ad in ads" class="ad clearfix">
        <div class="content-with-picture">
            <div class="imgData">
                <img data-ng-src={{ad.imageDataUrl}}>
            </div>
        </div>
        <div class="content-without-picture">
            <div class="title">{{ad.title}}</div>
            <div class="wholeInfo">
                <span class="text" style="font-weight: bold">Text:</span>
                <span class="info">{{ad.text}}</span>
            </div>
            <div class="whole-owner-Name">
                <span class="owner-name-text" style="font-weight:bold">Owner:</span>
                <span class=owner-name">{{ad.ownerName}}</span>
            </div>
            <div class="whole-owner-phone">
                <span class="owner-phone-text" style="font-weight:bold">Owner Phone:</span>
                <span class="owner-phone">{{ad.ownerPhone}}</span>
            </div>
            <div class="whole-town-id">
                <span class="owner-phone-text" style="font-weight:bold">Town:</span>
                <span class="town-id">{{ad.townId}}</span>
            </div>
        </div>
</div>
<a ng-href="#/view/{{page}}/2" ng-repeat="page in pages" class="pagination">{{page}}</a>